/JavaApplication5/nbproject/private/
/Test01/nbproject/private/
/TrenLop/nbproject/private/
/T2207E_Java_Ngay04-20230129T035409Z-001/T2207E_Java_Ngay04/nbproject/private/
/T2207E_Java_Ngay04/T2207E_Java_Ngay04/nbproject/private/
/T2207E_Java_Ngay04/T2207E_Java_Ngay04/build/
/T2207E_Java_Ngay05/T2207E_Java_Ngay05/build/
/T2207E_Java_Ngay05/T2207E_Java_Ngay05/nbproject/private/
/T2207E_Java_Ngay05-20230130T135216Z-001/T2207E_Java_Ngay05/build/
/T2207E_Java_Ngay05-20230130T135216Z-001/T2207E_Java_Ngay05/nbproject/private/
/T2207E_Java_Ngay06-20230203T080510Z-001/T2207E_Java_Ngay06/build/
/T2207E_Java_Ngay06-20230203T080510Z-001/T2207E_Java_Ngay06/dist/
/T2207E_Java_Ngay06-20230203T080510Z-001/T2207E_Java_Ngay06/nbproject/private/
/Chuabai_Ngay06_Kethua-20230206T023428Z-001/Chuabai_Ngay06_Kethua/nbproject/private/
/T2207E_Java_Ngay07-20230206T023431Z-001/T2207E_Java_Ngay07/build/
/T2207E_Java_Ngay07-20230206T023431Z-001/T2207E_Java_Ngay07/dist/
/T2207E_Java_Ngay07-20230206T023431Z-001/T2207E_Java_Ngay07/nbproject/private/
/T2208E_Java_Ngay08-20230207T132958Z-001/T2208E_Java_Ngay08/build/
/Chuabai_Ngay06_Kethua-20230206T023428Z-001/Chuabai_Ngay06_Kethua/build/
/Test01/build/
/Test01/dist/
/Java2_01/nbproject/private/
/Java2_01/build/
/JavaApplication10/nbproject/private/
/JavaApplication10/dist/
/JavaApplication10/build/
/JavaForm01/nbproject/private/
/JavaForm01/build/
/Java2_1/nbproject/private/
/Java2_1/build/
/Java2_2/nbproject/private/
/Java2_2/build/
/Java02_lop/T2207E_Java2_Ngay02/nbproject/private/
/Java02_lop/T2207E_Java2_Ngay02/build/
/T2207E_Java2_Ngay04_DocghiFile-20230222T132532Z-001/T2207E_Java2_Ngay04_DocghiFile/nbproject/private/
/T2207E_Java2_Ngay04_DocghiFile-20230222T132532Z-001/T2207E_Java2_Ngay04_DocghiFile/build/
/Java02_QuanLyDanhBa/ChuaBai_Qui/nbproject/private/
/Java02_QuanLyDanhBa/ChuaBai_Qui/build/
/T2207E_Java2_Ngay05_Quanlydanhba-20230224T121404Z-001/T2207E_Java2_Ngay05_Quanlydanhba/build/
/T2207E_Java2_Ngay05_Quanlydanhba-20230224T121404Z-001/T2207E_Java2_Ngay05_Quanlydanhba/nbproject/private/
/T2208E_Java_Ngay08/build/
/T2208E_Java_Ngay08/nbproject/private/
/T2207E_Java_Ngay05/build/
/T2207E_Java_Ngay05/nbproject/private/
/T2205M_Java_Ngay09/build/
/T2205M_Java_Ngay09/nbproject/private/
/T2207E_Java_Ngay09/build/
/T2207E_Java_Ngay09/nbproject/private/
/T2207E_Java_Ngay07/build/
/T2207E_Java_Ngay07/dist/
/T2207E_Java_Ngay07/nbproject/private/
/Chuabai_Ngay06_Kethua/build/
/Chuabai_Ngay06_Kethua/nbproject/private/
/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay05_Quanlydanhba/build/
/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay05_Quanlydanhba/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_01/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_01/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/nbproject/private/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/build/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/dist/
/T2207E_Java2_Ngay06_JDBC_Xemtruoc-20230227T042850Z-001/T2207E_Java2_Ngay06_JDBC_Xemtruoc/Java_KetnoiCSDL_03_MVC/DemoJDBC_MVC/nbproject/private/
/Ketnoicsdl_ngay07/nbproject/private/
/T2207E_Java2_Ngay7_Ketnoi2Bang_bai1_QuanlyLophoc/build/
/T2207E_Java2_Ngay7_Ketnoi2Bang_bai2_QuanlySinhvien/build/
/T2207E_Java2_Ngay8_Sua_lLop_CSDL/build/
/T2207E_Java2_Ngay8_Sua_lLop_CSDL/nbproject/private/
/CSDL_Hinhanh/build/
/CSDL_Hinhanh/nbproject/private/
/Java2Exam/nbproject/private/
